@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-top: 50px;
}

form {
	margin: 50px auto;
	width: 50%;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

select, input[type="text"] {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #3e8e41;
}

#story-container {
	margin: 50px auto;
	width: 50%;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#story-text {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

#audio {
	display: none;
}

*{
	margin:0;
	padding: 0;
}

body{
	background-image: url("p6.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}